<script type="text/template" id="userPurchasesTemplate">
    <%
    _.each(data, function(purchase){
    var newDate = purchase.purchase_date.split('T')[0].split("-");
    newDate = newDate[1]+'.'+newDate[2]+'.'+newDate[0];
    %>
    <section class="purchase-details col-sm-offset-3 col-sm-6">
        <table class="purchase-details-table">
            <tr>
                <th>Purchase date :</th>
                <td><%- newDate %></td>
            </tr>
            <tr>
                <th>Credit card number :</th>
                <td><%- purchase.credit_card_number %></td>
            </tr>
            <tr>
                <th>Price paid :</th>
                <td><%- purchase.price_paid %> €</td>
            </tr>
        </table>
        <a href="#cars/<%- purchase.car %>" class="btn btn-info btn-block">See car details</a>
    </section>
    <% }) %>
</script>