/* #dbe9d8 #c2d4d8 #f2efe8 #b0aac2 */

body {
    background: linear-gradient(to left, white, gray);
}

#main-content {
    background: linear-gradient(to right, white, gray);
    text-align: center;
    min-height: 95vh;
    padding-bottom: 5em;
}

#main-footer {
    text-align: center;
    background-color: #222;
    border-color: #080808;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #9d9d9d;
}

.copyrights {
    padding-top: 13px;
}

.img-fit {
    height: 160px;
    width: 160px;
}

#content {
    max-width: 100%;
}

.car-maker-p {
    margin-top: 5px;
    font-weight: bold;
}

article.car-maker a {
    color: inherit;
}

#main-content .jumbotron {
    background-color: inherit;
}

.cars-number-p {
    color: #000000;
}

.car-maker section a:hover, a:focus {
    text-decoration: none;
}

a:focus {
    outline: none;
}

.car-info {
    height: 170px;
    margin-bottom: 5px;
    background-color: #dbe9d8;
    padding: 10px;
    text-align: left;
    line-height: 0.5em;
}

.car-image {
    width: 30%;
    float: left;
    height: 100%;
    max-height: 100%;
}

.car-description {
    float: right;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.car-title {
    font-size: 1.16667em;
}

.car-price {
    font-weight: bold;
    font-size: 1.5em;
    text-align: right;
}

.car-image img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.car-details, .purchase-details, .new-car-form {
    background-color: #dbe9d8;
    border: 1px solid #d0d0ce;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.car-details-image {

}

.car-detail-image-img {
    width: 100%;
    height: auto;
}

.purchase-details, .new-car-form {
    margin-bottom: 20px;
    padding: 15px;
}

.car-details-table, .purchase-details-table {
    width: 100%;
    line-height: 2em;
}

.car-details-table th, .purchase-details-table th{
    text-align: left;
}

.car-details-table td, .purchase-details-table td{
    text-align: left;
}

.car-details-table tr, .purchase-details-table tr{
    border-bottom: 1px solid #d0d0ce;
}

.car-details button{
    margin: 5px 0px 5px 0px;
}
.new-car-form button{
    margin: 10px 0 0 10%;
    width: 81%;
}

#aside-menu{
    background: linear-gradient(to bottom, white, #bfbfbf);
    height: 150px;
    width: 200px;
    position: fixed;
    top: 10vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.aside-group{
    margin: 15px;
    font-size: 18px;
    line-height: 2em;
}
